.action-btns {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.action-btns > button {
  width: 6rem;
}

.flashcard {
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 12rem;
  justify-content: center;
  margin: 1rem 0.5rem;
}
